.container{
    margin: 0;
    background-color:#EBF3Fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 8px 24px #787C74 ;
    border-radius: 7px;
    background-color:white;
    width:90%;
}
.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.img-container {
    display: flex;
    justify-content: center;
    margin: 0;
}
.img-container img{
    width: 60%;
    height: 30vh;
}
.delivery-msg{
    justify-content: flex-start;
    color:white;
    background-color: black;
    width:93px;
    text-align: center;
    padding: 3px;
    border-radius:20px ;
}
.markedPrice{
    margin: 0;
    text-decoration: line-through;
}
h1{
    margin: 3px 0 3px 0;
    font-size: 40px;
}
.off-msg{
    color:#C79BA4;
}
.btn{
    background-color: #3B66B8;
    color: white; 
    width: 200px;
    height: 5vh;
     padding: 10px 0 10px 0;
    border-radius: 6px;
}
.stocks-msg{
    display: flex;
}
.greenDot{
    background-color: greenyellow;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin:20px 8px 0 0 ;
}
button{
    width:100%;
    margin-bottom:10px;
    border:2px solid #90919B;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
}
button:hover{
    cursor:pointer;
}
@media only screen and   (min-width:501px) {
    .card{
        box-shadow: 0px 8px 24px #787C74 ;
        border-radius: 7px;
        width:700px;
        height:500px;
        display: flex;
        background-color:white;
        flex-direction: row;
        justify-content: flex-start;
        margin: 5%;
    }

    .headphoneimg{
        width: 100%;
        height: 30vh;
    }

    .section-two{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } 
    .btn{
        background-color: #3B66B8;
        color: white; 
        width: 30vh;
         padding: 10px 0 10px 0;
        border-radius: 6px;
    }
    button{
        width: 46%;
        border:2px solid #90919B;
        border-radius: 5px;
        padding: 15px;
        background-color: white;
    }
}